<div class="container">
  <a *ngIf="jwt" mat-raised-button color="primary" routerLink="/ajout-article">
    Ajouter un article
  </a>

  <div class="row">
    <div *ngFor="let article of listeArticle" class="col-6">
      <mat-card class="mt-4">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>{{ article.title }}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="http://localhost:3000/{{ article.nom_image }}"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            {{ article.body }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a
            *ngIf="jwt?.admin"
            mat-button
            color="primary"
            [routerLink]="['/modifier-article', article.id]"
            >Modifier</a
          >
          <button
            *ngIf="jwt?.admin"
            mat-button
            color="warn"
            (click)="onSupprimerArticle(article.id)"
          >
            Supprimer
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
