form {
  display: flex;
  flex-direction: column;

  mat-form-field {
    max-width: 400px;
  }

  button:not(.mdc-fab),
  a {
    width: 150px;
  }

  .selecteur-image {
    display: flex;
    align-items: center;

    input {
      display: none;
    }

    span {
      margin: 0 10px;
    }

    img {
      max-height: 30px;
    }
  }
}
