<form (ngSubmit)="onAjoutArticle()" [formGroup]="formulaire">
  <mat-form-field>
    <mat-label>Titre</mat-label>
    <input matInput formControlName="title" />
    <mat-error>Le titre est obligatoire</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contenu</mat-label>
    <textarea matInput formControlName="body"></textarea>
    <mat-error *ngIf="formulaire.get('body')?.hasError('required')"
      >Le contenu est obligatoire</mat-error
    >
    <mat-error *ngIf="formulaire.get('body')?.hasError('minlength')"
      >Le contenu doit avoir 5 caractères au minimum</mat-error
    >
  </mat-form-field>

  <app-selecteur-fichier
    texteFichierNonSelectionne="Rien du tout"
    [sourceMiniature]="
      articleModifie?.nom_image
        ? 'http://localhost:3000/' + articleModifie?.nom_image
        : null
    "
    (fichierChange)="onImageSelectionne($event)"
  ></app-selecteur-fichier>

  <div class="mt-5">
    <button mat-raised-button type="submit" color="primary">
      {{ articleModifie ? "Modifier" : "Ajouter" }}
    </button>

    <a mat-raised-button class="ms-2" routerLink="/accueil" color="warn">
      Annuler
    </a>
  </div>
</form>
