<form (ngSubmit)="onAjoutArticle()" [formGroup]="formulaire">
  <mat-form-field>
    <mat-label>Titre</mat-label>
    <input matInput formControlName="title" />
    <mat-error>Le titre est obligatoire</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contenu</mat-label>
    <textarea matInput formControlName="body"></textarea>
    <mat-error *ngIf="formulaire.get('body')?.hasError('required')"
      >Le contenu est obligatoire</mat-error
    >
    <mat-error *ngIf="formulaire.get('body')?.hasError('minlength')"
      >Le contenu doit avoir 5 caractères au minimum</mat-error
    >
  </mat-form-field>

  <div class="selecteur-image">
    <input #inputFile type="file" (change)="onFichierChange($event)" />

    <button mat-fab (click)="$event.preventDefault(); inputFile.click()">
      <mat-icon fontIcon="attach_file"></mat-icon>
    </button>

    <span>
      {{
        fichierSelectionne?.name ||
          (articleModifie?.nom_image ? "" : "Aucun fichier selectionné")
      }}
    </span>

    <img [src]="imageSource" />
  </div>

  <div class="mt-5">
    <button mat-raised-button type="submit" color="primary">
      {{ articleModifie ? "Modifier" : "Ajouter" }}
    </button>

    <a mat-raised-button class="ms-2" routerLink="/accueil" color="warn">
      Annuler
    </a>
  </div>
</form>
